In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Track.csv')

In [3]:
data = data.drop(['purchaser_type','ffiec_msa_md_median_fam_income','balloon_payment','business_or_commercial_purpose','combined_loan_to_value_ratio'],axis=1)

In [4]:
data = data.drop(['year','state_code','county_code','msa','census_tract','applicant_age_above_62','lender_credits','lien_status','occupancy_type','total_units'],axis=1)

In [5]:
data = data.drop(['tract_one_to_four_family_homes','tract_median_age_of_hu','tract_population','conforming_loan_limit','construction_method','discount_points'],axis=1)

In [6]:
data.head()

,applicant_age,race,ethnicity,sex,income,debt_to_income_ratio,tract_minority_pop_percent,tract_to_msa_income_percentage,lei,aus,interest_rate,loan_amount,loan_type,property_value,total_loan_costs,accepted,denial_reason
0,45-54,Native Hawaiian or Other Pacific Islander,Hispanic or Latino,Male,26.0,>60%,84.39,86.0,7H6GLXDRUGQFU57RNE97,NaN,NaN,95000.0,Conventional,155000.0,NaN,0.0,Debt-to-income ratio
1,55-64,White,Not Hispanic or Latino,Joint,379.0,>60%,24.86,360.0,7H6GLXDRUGQFU57RNE97,NaN,NaN,3225000.0,Conventional,4705000.0,NaN,0.0,Debt-to-income ratio
2,45-54,Asian,Hispanic or Latino,Joint,86.0,41%-<46%,89.71,50.0,7H6GLXDRUGQFU57RNE97,NaN,6.010,105000.0,Conventional,185000.0,NaN,1.0,NaN
3,55-64,White,Hispanic or Latino,Female,25.0,36%-<41%,75.32,66.0,7H6GLXDRUGQFU57RNE97,NaN,6.125,65000.0,Conventional,375000.0,NaN,1.0,NaN
4,65-74,White,Not Hispanic or Latino,Male,33.0,20%-<30%,94.26,52.0,7H6GLXDRUGQFU57RNE97,NaN,4.500,75000.0,Conventional,235000.0,NaN,1.0,NaN

In [7]:
data = data.drop(['tract_to_msa_income_percentage','lei','aus','denial_reason'],axis=1)

In [8]:
data.head()

,applicant_age,race,ethnicity,sex,income,debt_to_income_ratio,tract_minority_pop_percent,interest_rate,loan_amount,loan_type,property_value,total_loan_costs,accepted
0,45-54,Native Hawaiian or Other Pacific Islander,Hispanic or Latino,Male,26.0,>60%,84.39,NaN,95000.0,Conventional,155000.0,NaN,0.0
1,55-64,White,Not Hispanic or Latino,Joint,379.0,>60%,24.86,NaN,3225000.0,Conventional,4705000.0,NaN,0.0
2,45-54,Asian,Hispanic or Latino,Joint,86.0,41%-<46%,89.71,6.010,105000.0,Conventional,185000.0,NaN,1.0
3,55-64,White,Hispanic or Latino,Female,25.0,36%-<41%,75.32,6.125,65000.0,Conventional,375000.0,NaN,1.0
4,65-74,White,Not Hispanic or Latino,Male,33.0,20%-<30%,94.26,4.500,75000.0,Conventional,235000.0,NaN,1.0

In [9]:
data = data.dropna(subset=['interest_rate','debt_to_income_ratio','total_loan_costs'], how='any')

In [10]:
data.head()

,applicant_age,race,ethnicity,sex,income,debt_to_income_ratio,tract_minority_pop_percent,interest_rate,loan_amount,loan_type,property_value,total_loan_costs,accepted
8,25-34,Asian,Not Hispanic or Latino,Joint,157.0,46%-<50%,24.00,4.50,345000.0,Conventional,365000.0,3759.92,1.0
16,45-54,White,Not Hispanic or Latino,Joint,145.0,20%-<30%,30.84,3.75,335000.0,VA,365000.0,9047.48,1.0
17,35-44,White,Not Hispanic or Latino,Male,105.0,20%-<30%,46.45,3.99,225000.0,VA,235000.0,6208.58,1.0
18,25-34,White,Not Hispanic or Latino,Joint,142.0,30%-<36%,32.84,3.75,405000.0,VA,395000.0,20143.41,1.0
19,25-34,White,Joint,Joint,165.0,20%-<30%,94.53,4.25,375000.0,VA,375000.0,1562.31,1.0

In [11]:
data.isna().sum()

applicant_age                   0
race                            0
ethnicity                       0
sex                             0
income                        596
debt_to_income_ratio            0
tract_minority_pop_percent      0
interest_rate                   0
loan_amount                     0
loan_type                       0
property_value                 89
total_loan_costs                0
accepted                        0
dtype: int64

In [12]:
data = data.dropna(subset=['income','property_value'], how='any')

In [16]:
data.head(45)

,applicant_age,race,ethnicity,sex,income,debt_to_income_ratio,tract_minority_pop_percent,interest_rate,loan_amount,loan_type,property_value,total_loan_costs,accepted
8,25-34,Asian,Not Hispanic or Latino,Joint,157.0,46%-<50%,24.00,4.500,345000.0,Conventional,365000.0,3759.92,1.0
16,45-54,White,Not Hispanic or Latino,Joint,145.0,20%-<30%,30.84,3.750,335000.0,VA,365000.0,9047.48,1.0
17,35-44,White,Not Hispanic or Latino,Male,105.0,20%-<30%,46.45,3.990,225000.0,VA,235000.0,6208.58,1.0
18,25-34,White,Not Hispanic or Latino,Joint,142.0,30%-<36%,32.84,3.750,405000.0,VA,395000.0,20143.41,1.0
19,25-34,White,Joint,Joint,165.0,20%-<30%,94.53,4.250,375000.0,VA,375000.0,1562.31,1.0
20,35-44,White,Not Hispanic or Latino,Joint,114.0,30%-<36%,54.78,4.500,305000.0,Conventional,325000.0,3590.67,1.0
21,55-64,White,Not Hispanic or Latino,Male,67.0,41%-<46%,40.68,4.500,265000.0,Conventional,535000.0,4947.43,1.0
24,25-34,White,Not Hispanic or Latino,Joint,124.0,30%-<36%,33.74,3.750,265000.0,Conventional,495000.0,5650.73,1.0
25,45-54,White,Not Hispanic or Latino,Male,213.0,30%-<36%,99.44,4.375,335000.0,Conventional,345000.0,4033.40,1.0
26,25-34,White,Not Hispanic or Latino,Female,55.0,46%-<50%,32.05,4.375,195000.0,Conventional,245000.0,3539.27,1.0
27,25-34,White,Not Hispanic or Latino,Male,112.0,20%-<30%,28.91,4.375,185000.0,Conventional,195000.0,3482.30,1.0
28,25-34,White,Not Hispanic or Latino,Joint,187.0,20%-<30%,51.56,4.250,435000.0,Conventional,455000.0,5165.06,1.0
29,35-44,Asian,Not Hispanic or Latino,Joint,185.0,<20%,75.61,3.625,305000.0,Conventional,315000.0,4126.07,1.0
30,25-34,Asian,Not Hispanic or Latino,Joint,98.0,<20%,73.47,3.375,195000.0,VA,195000.0,3337.72,1.0
31,25-34,White,Not Hispanic or Latino,Joint,95.0,41%-<46%,65.25,4.000,215000.0,VA,205000.0,10265.82,1.0
32,25-34,White,Not Hispanic or Latino,Joint,75.0,41%-<46%,96.79,3.500,345000.0,Conventional,365000.0,5714.12,1.0
33,45-54,White,Not Hispanic or Latino,Female,72.0,30%-<36%,69.56,3.875,225000.0,Conventional,285000.0,3191.14,1.0
34,35-44,White,Not Hispanic or Latino,Joint,158.0,20%-<30%,26.79,4.250,305000.0,Conventional,385000.0,3604.67,1.0
35,55-64,White,Not Hispanic or Latino,Joint,181.0,20%-<30%,27.10,5.625,105000.0,Conventional,165000.0,2703.76,1.0
36,45-54,White,Hispanic or Latino,Male,380.0,30%-<36%,21.01,4.375,215000.0,Conventional,265000.0,4720.40,1.0
37,35-44,Asian,Not Hispanic or Latino,Joint,55.0,46%-<50%,64.65,3.990,185000.0,FHA,195000.0,6234.93,1.0
38,35-44,Asian,Not Hispanic or Latino,Male,143.0,36%-<41%,54.20,3.750,485000.0,Conventional,555000.0,5983.22,1.0
39,25-34,White,Not Hispanic or Latino,Male,95.0,36%-<41%,51.56,3.875,345000.0,VA,335000.0,10879.62,1.0
40,35-44,Black or African American,Not Hispanic or Latino,Male,166.0,46%-<50%,87.76,3.990,405000.0,VA,395000.0,8801.03,1.0
41,25-34,White,Not Hispanic or Latino,Female,101.0,20%-<30%,49.34,3.875,235000.0,Conventional,295000.0,3208.82,1.0
42,45-54,White,Not Hispanic or Latino,Male,98.0,36%-<41%,41.34,4.375,315000.0,Conventional,395000.0,4151.08,1.0
43,25-34,White,Not Hispanic or Latino,Female,137.0,46%-<50%,79.99,4.000,325000.0,Conventional,335000.0,4088.27,1.0
44,25-34,White,Not Hispanic or Latino,Male,99.0,41%-<46%,51.56,3.250,385000.0,VA,375000.0,12112.34,1.0
46,35-44,White,Not Hispanic or Latino,Male,89.0,20%-<30%,51.56,4.250,275000.0,Conventional,285000.0,7004.34,1.0
47,45-54,Asian,Not Hispanic or Latino,Joint,54.0,50%-60%,64.65,3.875,185000.0,FHA,185000.0,6599.31,1.0
49,25-34,White,Not Hispanic or Latino,Joint,113.0,30%-<36%,26.79,4.000,285000.0,Conventional,295000.0,8006.44,1.0
50,45-54,Asian,Not Hispanic or Latino,Male,52.0,46%-<50%,31.55,3.625,175000.0,Conventional,195000.0,3259.07,1.0
52,35-44,White,Joint,Joint,223.0,36%-<41%,54.38,3.500,475000.0,Conventional,495000.0,5186.28,1.0
53,25-34,White,Not Hispanic or Latino,Male,120.0,20%-<30%,24.70,4.000,265000.0,VA,265000.0,9336.52,1.0
54,25-34,Black or African American,Not Hispanic or Latino,Joint,75.0,41%-<46%,90.91,4.500,175000.0,Conventional,185000.0,4068.73,1.0
55,>74,White,Not Hispanic or Latino,Joint,85.0,50%-60%,32.02,3.750,215000.0,VA,265000.0,3043.72,1.0
56,25-34,White,Not Hispanic or Latino,Joint,124.0,41%-<46%,28.26,4.000,315000.0,Conventional,335000.0,4462.46,1.0
57,25-34,White,Hispanic or Latino,Male,65.0,36%-<41%,54.38,4.125,235000.0,Conventional,295000.0,3201.42,1.0
59,35-44,White,Hispanic or Latino,Female,57.0,36%-<41%,59.04,4.000,185000.0,Conventional,185000.0,2881.25,1.0
60,25-34,White,Not Hispanic or Latino,Male,115.0,30%-<36%,59.04,3.625,315000.0,VA,375000.0,7285.57,1.0
61,45-54,White,Not Hispanic or Latino,Female,95.0,46%-<50%,29.50,3.750,335000.0,FHA,335000.0,10715.51,1.0
62,25-34,White,Not Hispanic or Latino,Joint,154.0,41%-<46%,17.57,4.625,305000.0,Conventional,325000.0,3839.67,1.0
63,35-44,White,Not Hispanic or Latino,Female,127.0,36%-<41%,23.56,4.375,225000.0,Conventional,235000.0,3452.92,1.0
64,45-54,White,Not Hispanic or Latino,Male,40.0,41%-<46%,41.55,4.000,135000.0,Conventional,135000.0,2837.59,1.0
65,35-44,White,Hispanic or Latino,Joint,159.0,30%-<36%,29.50,3.500,395000.0,Conventional,505000.0,5607.67,1.0

In [18]:
data.isna().sum()

applicant_age                 0
race                          0
ethnicity                     0
sex                           0
income                        0
debt_to_income_ratio          0
tract_minority_pop_percent    0
interest_rate                 0
loan_amount                   0
loan_type                     0
property_value                0
total_loan_costs              0
accepted                      0
dtype: int64

# Ordinal Encoding

In [22]:
from sklearn.preprocessing import OrdinalEncoder

In [25]:
dummies = pd.get_dummies(data['ethnicity'])
dummies.head()

    Free Form Text Only  Hispanic or Latino  Joint  Not Hispanic or Latino
8                     0                   0      0                       1
16                    0                   0      0                       1
17                    0                   0      0                       1
18                    0                   0      0                       1
19                    0                   0      1                       0

In [26]:
data = pd.concat([data, dummies], axis=1)
data.head()

,applicant_age,race,ethnicity,sex,income,debt_to_income_ratio,tract_minority_pop_percent,interest_rate,loan_amount,loan_type,property_value,total_loan_costs,accepted,Free Form Text Only,Hispanic or Latino,Joint,Not Hispanic or Latino
8,25-34,Asian,Not Hispanic or Latino,Joint,157.0,46%-<50%,24.00,4.50,345000.0,Conventional,365000.0,3759.92,1.0,0,0,0,1
16,45-54,White,Not Hispanic or Latino,Joint,145.0,20%-<30%,30.84,3.75,335000.0,VA,365000.0,9047.48,1.0,0,0,0,1
17,35-44,White,Not Hispanic or Latino,Male,105.0,20%-<30%,46.45,3.99,225000.0,VA,235000.0,6208.58,1.0,0,0,0,1
18,25-34,White,Not Hispanic or Latino,Joint,142.0,30%-<36%,32.84,3.75,405000.0,VA,395000.0,20143.41,1.0,0,0,0,1
19,25-34,White,Joint,Joint,165.0,20%-<30%,94.53,4.25,375000.0,VA,375000.0,1562.31,1.0,0,0,1,0

In [28]:
data = data.drop(["ethnicity","Free Form Text Only"], axis=1)
data.head()

,applicant_age,race,sex,income,debt_to_income_ratio,tract_minority_pop_percent,interest_rate,loan_amount,loan_type,property_value,total_loan_costs,accepted,Hispanic or Latino,Joint,Not Hispanic or Latino
8,25-34,Asian,Joint,157.0,46%-<50%,24.00,4.50,345000.0,Conventional,365000.0,3759.92,1.0,0,0,1
16,45-54,White,Joint,145.0,20%-<30%,30.84,3.75,335000.0,VA,365000.0,9047.48,1.0,0,0,1
17,35-44,White,Male,105.0,20%-<30%,46.45,3.99,225000.0,VA,235000.0,6208.58,1.0,0,0,1
18,25-34,White,Joint,142.0,30%-<36%,32.84,3.75,405000.0,VA,395000.0,20143.41,1.0,0,0,1
19,25-34,White,Joint,165.0,20%-<30%,94.53,4.25,375000.0,VA,375000.0,1562.31,1.0,0,1,0

In [29]:
df.rename(columns={'Joint': 'Hispanic_Latino_couple'}, inplace=True)
data.head()

,applicant_age,race,sex,income,debt_to_income_ratio,tract_minority_pop_percent,interest_rate,loan_amount,loan_type,property_value,total_loan_costs,accepted,Hispanic or Latino,Hispanic_Latino_couple,Not Hispanic or Latino
8,25-34,Asian,Joint,157.0,46%-<50%,24.00,4.50,345000.0,Conventional,365000.0,3759.92,1.0,0,0,1
16,45-54,White,Joint,145.0,20%-<30%,30.84,3.75,335000.0,VA,365000.0,9047.48,1.0,0,0,1
17,35-44,White,Male,105.0,20%-<30%,46.45,3.99,225000.0,VA,235000.0,6208.58,1.0,0,0,1
18,25-34,White,Joint,142.0,30%-<36%,32.84,3.75,405000.0,VA,395000.0,20143.41,1.0,0,0,1
19,25-34,White,Joint,165.0,20%-<30%,94.53,4.25,375000.0,VA,375000.0,1562.31,1.0,0,1,0

In [30]:
dummies = pd.get_dummies(data['race'])
dummies.head()

,2 or more minority races,American Indian or Alaska Native,Asian,Black or African American,Free Form Text Only,Joint,Native Hawaiian or Other Pacific Islander,White
8,0,0,1,0,0,0,0,0
16,0,0,0,0,0,0,0,1
17,0,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,1
19,0,0,0,0,0,0,0,1

In [31]:
data = pd.concat([data, dummies], axis=1)
data.head()

,applicant_age,race,sex,income,debt_to_income_ratio,tract_minority_pop_percent,interest_rate,loan_amount,loan_type,property_value,...,Hispanic_Latino_couple,Not Hispanic or Latino,2 or more minority races,American Indian or Alaska Native,Asian,Black or African American,Free Form Text Only,Joint,Native Hawaiian or Other Pacific Islander,White
8,25-34,Asian,Joint,157.0,46%-<50%,24.00,4.50,345000.0,Conventional,365000.0,...,0,1,0,0,1,0,0,0,0,0
16,45-54,White,Joint,145.0,20%-<30%,30.84,3.75,335000.0,VA,365000.0,...,0,1,0,0,0,0,0,0,0,1
17,35-44,White,Male,105.0,20%-<30%,46.45,3.99,225000.0,VA,235000.0,...,0,1,0,0,0,0,0,0,0,1
18,25-34,White,Joint,142.0,30%-<36%,32.84,3.75,405000.0,VA,395000.0,...,0,1,0,0,0,0,0,0,0,1
19,25-34,White,Joint,165.0,20%-<30%,94.53,4.25,375000.0,VA,375000.0,...,1,0,0,0,0,0,0,0,0,1

In [33]:
data = data.drop(["race","Free Form Text Only"], axis=1)
data.head()

,applicant_age,sex,income,debt_to_income_ratio,tract_minority_pop_percent,interest_rate,loan_amount,loan_type,property_value,total_loan_costs,...,Hispanic or Latino,Hispanic_Latino_couple,Not Hispanic or Latino,2 or more minority races,American Indian or Alaska Native,Asian,Black or African American,Joint,Native Hawaiian or Other Pacific Islander,White
8,25-34,Joint,157.0,46%-<50%,24.00,4.50,345000.0,Conventional,365000.0,3759.92,...,0,0,1,0,0,1,0,0,0,0
16,45-54,Joint,145.0,20%-<30%,30.84,3.75,335000.0,VA,365000.0,9047.48,...,0,0,1,0,0,0,0,0,0,1
17,35-44,Male,105.0,20%-<30%,46.45,3.99,225000.0,VA,235000.0,6208.58,...,0,0,1,0,0,0,0,0,0,1
18,25-34,Joint,142.0,30%-<36%,32.84,3.75,405000.0,VA,395000.0,20143.41,...,0,0,1,0,0,0,0,0,0,1
19,25-34,Joint,165.0,20%-<30%,94.53,4.25,375000.0,VA,375000.0,1562.31,...,0,1,0,0,0,0,0,0,0,1

In [34]:
dummies = pd.get_dummies(data['sex'])
dummies.head()

    Female  Joint  Male
8        0      1     0
16       0      1     0
17       0      0     1
18       0      1     0
19       0      1     0

In [35]:
data = pd.concat([data, dummies], axis=1)
data.head()

,applicant_age,sex,income,debt_to_income_ratio,tract_minority_pop_percent,interest_rate,loan_amount,loan_type,property_value,total_loan_costs,...,2 or more minority races,American Indian or Alaska Native,Asian,Black or African American,Joint,Native Hawaiian or Other Pacific Islander,White,Female,Joint,Male
8,25-34,Joint,157.0,46%-<50%,24.00,4.50,345000.0,Conventional,365000.0,3759.92,...,0,0,1,0,0,0,0,0,1,0
16,45-54,Joint,145.0,20%-<30%,30.84,3.75,335000.0,VA,365000.0,9047.48,...,0,0,0,0,0,0,1,0,1,0
17,35-44,Male,105.0,20%-<30%,46.45,3.99,225000.0,VA,235000.0,6208.58,...,0,0,0,0,0,0,1,0,0,1
18,25-34,Joint,142.0,30%-<36%,32.84,3.75,405000.0,VA,395000.0,20143.41,...,0,0,0,0,0,0,1,0,1,0
19,25-34,Joint,165.0,20%-<30%,94.53,4.25,375000.0,VA,375000.0,1562.31,...,0,0,0,0,0,0,1,0,1,0

In [36]:
data.rename(columns={'Joint': 'Couple'}, inplace=True)
data.head()

,applicant_age,sex,income,debt_to_income_ratio,tract_minority_pop_percent,interest_rate,loan_amount,loan_type,property_value,total_loan_costs,...,2 or more minority races,American Indian or Alaska Native,Asian,Black or African American,Couple,Native Hawaiian or Other Pacific Islander,White,Female,Couple,Male
8,25-34,Joint,157.0,46%-<50%,24.00,4.50,345000.0,Conventional,365000.0,3759.92,...,0,0,1,0,0,0,0,0,1,0
16,45-54,Joint,145.0,20%-<30%,30.84,3.75,335000.0,VA,365000.0,9047.48,...,0,0,0,0,0,0,1,0,1,0
17,35-44,Male,105.0,20%-<30%,46.45,3.99,225000.0,VA,235000.0,6208.58,...,0,0,0,0,0,0,1,0,0,1
18,25-34,Joint,142.0,30%-<36%,32.84,3.75,405000.0,VA,395000.0,20143.41,...,0,0,0,0,0,0,1,0,1,0
19,25-34,Joint,165.0,20%-<30%,94.53,4.25,375000.0,VA,375000.0,1562.31,...,0,0,0,0,0,0,1,0,1,0

In [37]:
data = data.drop(["sex"], axis=1)
data.head()

,applicant_age,income,debt_to_income_ratio,tract_minority_pop_percent,interest_rate,loan_amount,loan_type,property_value,total_loan_costs,accepted,...,2 or more minority races,American Indian or Alaska Native,Asian,Black or African American,Couple,Native Hawaiian or Other Pacific Islander,White,Female,Couple,Male
8,25-34,157.0,46%-<50%,24.00,4.50,345000.0,Conventional,365000.0,3759.92,1.0,...,0,0,1,0,0,0,0,0,1,0
16,45-54,145.0,20%-<30%,30.84,3.75,335000.0,VA,365000.0,9047.48,1.0,...,0,0,0,0,0,0,1,0,1,0
17,35-44,105.0,20%-<30%,46.45,3.99,225000.0,VA,235000.0,6208.58,1.0,...,0,0,0,0,0,0,1,0,0,1
18,25-34,142.0,30%-<36%,32.84,3.75,405000.0,VA,395000.0,20143.41,1.0,...,0,0,0,0,0,0,1,0,1,0
19,25-34,165.0,20%-<30%,94.53,4.25,375000.0,VA,375000.0,1562.31,1.0,...,0,0,0,0,0,0,1,0,1,0

In [38]:
data['debt_to_income_ratio'].unique()

array(['46%-<50%', '20%-<30%', '30%-<36%', '41%-<46%', '<20%', '36%-<41%',
       '50%-60%', '>60%'], dtype=object)

In [39]:
debt_ratio_sort = ['46%-<50%', '20%-<30%', '30%-<36%', '41%-<46%', '<20%', '36%-<41%', '50%-60%', '>60%']
debt_ratio_enc = OrdinalEncoder(categories=[debt_ratio_sort])

In [41]:
data['debt_to_income_ratio'] = debt_ratio_enc.fit_transform(data['debt_to_income_ratio'].values.reshape(-1, 1))

In [43]:
data.head()

,applicant_age,income,debt_to_income_ratio,tract_minority_pop_percent,interest_rate,loan_amount,loan_type,property_value,total_loan_costs,accepted,...,2 or more minority races,American Indian or Alaska Native,Asian,Black or African American,Couple,Native Hawaiian or Other Pacific Islander,White,Female,Couple,Male
8,25-34,157.0,0.0,24.00,4.50,345000.0,Conventional,365000.0,3759.92,1.0,...,0,0,1,0,0,0,0,0,1,0
16,45-54,145.0,1.0,30.84,3.75,335000.0,VA,365000.0,9047.48,1.0,...,0,0,0,0,0,0,1,0,1,0
17,35-44,105.0,1.0,46.45,3.99,225000.0,VA,235000.0,6208.58,1.0,...,0,0,0,0,0,0,1,0,0,1
18,25-34,142.0,2.0,32.84,3.75,405000.0,VA,395000.0,20143.41,1.0,...,0,0,0,0,0,0,1,0,1,0
19,25-34,165.0,1.0,94.53,4.25,375000.0,VA,375000.0,1562.31,1.0,...,0,0,0,0,0,0,1,0,1,0

In [44]:
def encode_binary_variable(df, col, val_pos, val_neg):
    df[col] = df[col].replace({val_pos:1, val_neg:0})

In [45]:
data[data["loan_type"].str.contains("FHA")==False]

,applicant_age,income,debt_to_income_ratio,tract_minority_pop_percent,interest_rate,loan_amount,loan_type,property_value,total_loan_costs,accepted,...,2 or more minority races,American Indian or Alaska Native,Asian,Black or African American,Couple,Native Hawaiian or Other Pacific Islander,White,Female,Couple,Male
8,25-34,157.0,0.0,24.00,4.500,345000.0,Conventional,365000.0,3759.92,1.0,...,0,0,1,0,0,0,0,0,1,0
16,45-54,145.0,1.0,30.84,3.750,335000.0,VA,365000.0,9047.48,1.0,...,0,0,0,0,0,0,1,0,1,0
17,35-44,105.0,1.0,46.45,3.990,225000.0,VA,235000.0,6208.58,1.0,...,0,0,0,0,0,0,1,0,0,1
18,25-34,142.0,2.0,32.84,3.750,405000.0,VA,395000.0,20143.41,1.0,...,0,0,0,0,0,0,1,0,1,0
19,25-34,165.0,1.0,94.53,4.250,375000.0,VA,375000.0,1562.31,1.0,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136249,45-54,92.0,5.0,89.77,3.500,105000.0,Conventional,125000.0,6371.15,1.0,...,0,0,0,0,0,0,1,0,0,1
136255,65-74,99.0,6.0,43.96,2.875,225000.0,VA,255000.0,3069.86,1.0,...,0,0,0,0,0,0,1,0,1,0
136257,55-64,138.0,2.0,47.16,2.500,255000.0,Conventional,415000.0,5022.77,1.0,...,0,0,0,0,0,0,1,0,0,1
136259,25-34,91.0,2.0,20.22,3.875,215000.0,Conventional,225000.0,2917.68,1.0,...,0,0,0,0,0,0,1,0,0,1
136260,25-34,127.0,2.0,59.04,5.000,235000.0,Conventional,235000.0,7534.37,1.0,...,0,0,0,0,0,0,1,0,1,0

In [46]:
data[data["loan_type"].str.contains("FSA")==False]

,applicant_age,income,debt_to_income_ratio,tract_minority_pop_percent,interest_rate,loan_amount,loan_type,property_value,total_loan_costs,accepted,...,2 or more minority races,American Indian or Alaska Native,Asian,Black or African American,Couple,Native Hawaiian or Other Pacific Islander,White,Female,Couple,Male
8,25-34,157.0,0.0,24.00,4.500,345000.0,Conventional,365000.0,3759.92,1.0,...,0,0,1,0,0,0,0,0,1,0
16,45-54,145.0,1.0,30.84,3.750,335000.0,VA,365000.0,9047.48,1.0,...,0,0,0,0,0,0,1,0,1,0
17,35-44,105.0,1.0,46.45,3.990,225000.0,VA,235000.0,6208.58,1.0,...,0,0,0,0,0,0,1,0,0,1
18,25-34,142.0,2.0,32.84,3.750,405000.0,VA,395000.0,20143.41,1.0,...,0,0,0,0,0,0,1,0,1,0
19,25-34,165.0,1.0,94.53,4.250,375000.0,VA,375000.0,1562.31,1.0,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136254,35-44,149.0,0.0,55.03,3.125,285000.0,FHA,295000.0,10489.84,1.0,...,0,0,0,1,0,0,0,0,0,1
136255,65-74,99.0,6.0,43.96,2.875,225000.0,VA,255000.0,3069.86,1.0,...,0,0,0,0,0,0,1,0,1,0
136257,55-64,138.0,2.0,47.16,2.500,255000.0,Conventional,415000.0,5022.77,1.0,...,0,0,0,0,0,0,1,0,0,1
136259,25-34,91.0,2.0,20.22,3.875,215000.0,Conventional,225000.0,2917.68,1.0,...,0,0,0,0,0,0,1,0,0,1
136260,25-34,127.0,2.0,59.04,5.000,235000.0,Conventional,235000.0,7534.37,1.0,...,0,0,0,0,0,0,1,0,1,0

In [47]:
data = data[data["loan_type"].str.contains("FHA")==False]

In [48]:
data = data[data["loan_type"].str.contains("FSA")==False]

In [49]:
data.head()

,applicant_age,income,debt_to_income_ratio,tract_minority_pop_percent,interest_rate,loan_amount,loan_type,property_value,total_loan_costs,accepted,...,2 or more minority races,American Indian or Alaska Native,Asian,Black or African American,Couple,Native Hawaiian or Other Pacific Islander,White,Female,Couple,Male
8,25-34,157.0,0.0,24.00,4.50,345000.0,Conventional,365000.0,3759.92,1.0,...,0,0,1,0,0,0,0,0,1,0
16,45-54,145.0,1.0,30.84,3.75,335000.0,VA,365000.0,9047.48,1.0,...,0,0,0,0,0,0,1,0,1,0
17,35-44,105.0,1.0,46.45,3.99,225000.0,VA,235000.0,6208.58,1.0,...,0,0,0,0,0,0,1,0,0,1
18,25-34,142.0,2.0,32.84,3.75,405000.0,VA,395000.0,20143.41,1.0,...,0,0,0,0,0,0,1,0,1,0
19,25-34,165.0,1.0,94.53,4.25,375000.0,VA,375000.0,1562.31,1.0,...,0,0,0,0,0,0,1,0,1,0

In [65]:
encode_binary_variable(data, "loan_type", "Conventional", "VA")

In [66]:
data.head()

,applicant_age,income,debt_to_income_ratio,tract_minority_pop_percent,interest_rate,loan_amount,loan_type,property_value,total_loan_costs,accepted,...,Hispanic_Latino_couple,Not Hispanic or Latino,2 or more minority races,American Indian or Alaska Native,Asian,Black or African American,Native Hawaiian or Other Pacific Islander,White,Female,Male
8,0.0,157.0,0.0,24.00,4.50,345000.0,0,365000.0,3759.92,1.0,...,0,1,0,0,1,0,0,0,0,0
16,1.0,145.0,1.0,30.84,3.75,335000.0,1,365000.0,9047.48,1.0,...,0,1,0,0,0,0,0,1,0,0
17,2.0,105.0,1.0,46.45,3.99,225000.0,1,235000.0,6208.58,1.0,...,0,1,0,0,0,0,0,1,0,1
18,0.0,142.0,2.0,32.84,3.75,405000.0,1,395000.0,20143.41,1.0,...,0,1,0,0,0,0,0,1,0,0
19,0.0,165.0,1.0,94.53,4.25,375000.0,1,375000.0,1562.31,1.0,...,1,0,0,0,0,0,0,1,0,0

In [52]:
data['applicant_age'].unique()

array(['25-34', '45-54', '35-44', '55-64', '>74', '65-74', '<25'],
      dtype=object)

In [53]:
applicant_age_sort = ['25-34', '45-54', '35-44', '55-64', '>74', '65-74', '<25']
applicant_age_enc = OrdinalEncoder(categories=[applicant_age_sort])
data['applicant_age'] = applicant_age_enc.fit_transform(data['applicant_age'].values.reshape(-1, 1))

In [54]:
data.head()

,applicant_age,income,debt_to_income_ratio,tract_minority_pop_percent,interest_rate,loan_amount,loan_type,property_value,total_loan_costs,accepted,...,2 or more minority races,American Indian or Alaska Native,Asian,Black or African American,Couple,Native Hawaiian or Other Pacific Islander,White,Female,Couple,Male
8,0.0,157.0,0.0,24.00,4.50,345000.0,0,365000.0,3759.92,1.0,...,0,0,1,0,0,0,0,0,1,0
16,1.0,145.0,1.0,30.84,3.75,335000.0,1,365000.0,9047.48,1.0,...,0,0,0,0,0,0,1,0,1,0
17,2.0,105.0,1.0,46.45,3.99,225000.0,1,235000.0,6208.58,1.0,...,0,0,0,0,0,0,1,0,0,1
18,0.0,142.0,2.0,32.84,3.75,405000.0,1,395000.0,20143.41,1.0,...,0,0,0,0,0,0,1,0,1,0
19,0.0,165.0,1.0,94.53,4.25,375000.0,1,375000.0,1562.31,1.0,...,0,0,0,0,0,0,1,0,1,0

In [56]:
from sklearn.model_selection import train_test_split
data = data.drop(['Couple'],axis=1)

In [58]:
X = data.drop(labels=["loan_type"], axis=1)
y = data["loan_type"]

In [59]:
X_train_full, X_test, y_train_full, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
X_train, X_val, y_train, y_val = train_test_split(X_train_full, y_train_full, test_size=0.2, random_state=0)

# Logistic regression model

In [60]:
from sklearn.linear_model import LogisticRegression

In [61]:
logreg = LogisticRegression(random_state=1, max_iter=1000)

In [62]:
logreg.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=1)

In [63]:
y_pred = logreg.predict(X_val)

# Model Performance

In [68]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [69]:
print("Accuracy: ", accuracy_score(y_val, y_pred))

Accuracy:  0.930370942812983

In [71]:
print("Precision for government backed Applications: ", precision_score(y_val, y_pred, pos_label=0))
print("Recall for government backed Applications: ", recall_score(y_val, y_pred, pos_label=0))

Precision for government backed Applications:  0.9324163154965414
Recall for government backed Applications:  0.9956698930208864

# F1 Score

In [72]:
from sklearn.metrics import f1_score

In [75]:
print("F1 Score for the Baseline Model (Government backed): ", f1_score(y_val, y_pred, pos_label=0))

F1 Score for the Baseline Model (Government backed):  0.9630055430096489